<aside id="sidebar-container" class="col-12 overflow-auto flex-column mh-md-100">
    <div class="mx-1 my-2 m-md-5">
        <div class="row g-0">
            <div id="name-container" class="col-4 col-md-12 order-1">
                <h1 id="name" class="m-0">
                    Julian Heng
                </h1>
            </div>
            <hr class="d-none d-md-block col-12 m-0 my-3 order-2"/>
            <div id="site-navigation-container" class="col-12 order-5 order-md-3 my-auto">
                <ul id="site-navigation" class="d-flex flew-wrap d-md-block list-unstyled m-0 ms-n1 m-md-0">
                    <li class="sidebar-link-container rounded p-1 p-md-1 me-1 mx-md-n1"><a class="sidebar-link sidebar-link-nav" title="Home" href="/"><span><i class="fa-fw fas fa-home me-1"></i><span>Home</span></span></a></li>
                    <li class="sidebar-link-container rounded p-1 p-md-1 mx-1 mx-md-n1"><a class="sidebar-link sidebar-link-nav" title="Projects" href="/projects"><span><i class="fa-fw fas fa-project-diagram me-1"></i><span>Projects</span></span></a></li>
                    <li class="sidebar-link-container rounded p-1 p-md-1 mx-1 mx-md-n1"><a class="sidebar-link sidebar-link-nav" title="Blog" href="/blog"><span><i class="fa-fw fas fa-blog me-1"></i><span>Blog</span></span></a></li>
                </ul>
            </div>
            <hr class="col-12 m-0 my-2 my-md-3 order-4"/>
            <div id="contact-container" class="col-8 col-md-12 order-3 order-md-5 my-auto">
                <ul class="d-flex flew-wrap d-md-block list-unstyled float-end float-md-none m-0 me-n1 m-md-0">
                    <li class="sidebar-link-container rounded p-md-1 mx-md-n1"><a class="sidebar-link" title="Résumé" href="/assets/julian_heng_resume_2025.pdf"><span><i class="fa-fw fas fa-file-alt m-0 me-md-1"></i><span class="d-none d-md-inline">Résumé</span></span></a></li>
                    <li class="sidebar-link-container rounded p-md-1 mx-md-n1"><a class="sidebar-link" title="Gitlab" href="https://www.gitlab.com/julian-heng"><span><i class="fa-fw fab fa-gitlab m-0 me-md-1"></i><span class="d-none d-md-inline">Gitlab</span></span></a></li>
                    <li class="sidebar-link-container rounded p-md-1 mx-md-n1"><a class="sidebar-link" title="Github" href="https://www.github.com/julian-heng"><span><i class="fa-fw fab fa-github m-0 me-md-1"></i><span class="d-none d-md-inline">Github</span></span></a></li>
                    <li class="sidebar-link-container rounded p-md-1 mx-md-n1"><a class="sidebar-link" title="Linkedin" href="https://www.linkedin.com/in/julian-heng"><span><i class="fa-fw fab fa-linkedin m-0 me-md-1"></i><span class="d-none d-md-inline">Linkedin</span></span></a></li>
                    <li class="sidebar-link-container rounded p-md-1 mx-md-n1"><a class="sidebar-link" title="Twitter" href="https://www.twitter.com/julian_heng"><span><i class="fa-fw fab fa-twitter m-0 me-md-1"></i><span class="d-none d-md-inline">Twitter</span></span></a></li>
                    <li class="sidebar-link-container rounded p-md-1 mx-md-n1"><a class="sidebar-link" title="Email" href="mailto:contact@julian-heng.au"><span><i class="fa-fw fas fa-envelope m-0 me-md-1"></i><span class="d-none d-md-inline">Email</span></span></a></li>
                </ul>
            </div>
            <hr class="d-none d-md-block col-12 m-0 my-3 order-6"/>
        </div>
    </div>
</aside>
