body {
    background: $bg;
    color: $fg;
}


hr {
    background-color: $hr;
    border-top: unset;
    height: 1px;
}


a {
    color: $link;
}


a:hover {
    color: $link-hover;
    text-decoration-color: $link-hover;
}


figcaption {
    color: $fig-caption-fg;
}


#sidebar-container {
    background: $accent;
    color: $fg;
}


.sidebar-link-container > a {
    color: $accent-link;
}


.sidebar-link-container:hover {
    background-color: $accent-link-container-hover;

    > a {
        color: $accent-link-hover;
        text-decoration-color: $accent-link-hover;
    }
}


#content {
    img, video {
        border-color: $border;
    }

    hr {
        background-color: $border;
    }
}


#picture {
    border-color: $border;
}


*:focus-visible {
    box-shadow: 0px 0px 0px 4px $link;
}


#content-container:focus-visible, #sidebar-container:focus-visible {
    box-shadow: inset 0px 0px 0px 4px $link;
}


/* Code style */
pre {
    border-color: $border;
    font-weight: bold;

    > code > a {
        text-decoration-color: none;
        transition: none;
        color: $code-fg;
    }
}


pre.numberSource {
    a.sourceLine {
        &::before {
            border: none;
            color: $code-fg;
        }
    }

    border-left: 1px solid $border;
}


code {
    color: $code-fg;
    span.al { color: $code-red;     } /* Alert */
    span.an { color: $code-cyan;    } /* Annotation */
    span.at { color: $code-yellow;  } /* Attribute */
    span.bn { color: $code-green;   } /* BaseN */
    span.bu {                       } /* BuiltIn */
    span.cf { color: $code-yellow;  } /* ControlFlow */
    span.ch { color: $code-blue;    } /* Char */
    span.cn { color: $code-red;     } /* Constant*/
    span.co { color: $code-blue;    } /* Comment */
    span.cv { color: $code-blue;    } /* CommentVar */
    span.do { color: $code-red;     } /* Documentation */
    span.dt { color: $code-green;   } /* DataType */
    span.dv { color: $code-red;     } /* DecVal */
    span.er { color: $code-red;     } /* Error */
    span.ex {                       } /* Extension */
    span.fl { color: $code-red;     } /* Float */
    span.fu { color: $code-blue;    } /* Function */
    span.im { color: $code-red;     } /* Import */
    span.in { color: $code-cyan;    } /* Information */
    span.kw { color: $code-green;   } /* Keyword */
    span.op { color: $code-white;   } /* Operator */
    span.ot { color: $code-green;   } /* Other */
    span.pp { color: $code-purple;  } /* Preprocessor */
    span.sc { color: $code-purple;  } /* SpecialChar */
    span.ss { color: $code-purple;  } /* SpecialString */
    span.st { color: $code-red;     } /* String */
    span.va { color: $code-blue;    } /* Variable */
    span.vs { color: $code-blue;    } /* VerbatimString */
    span.wa { color: $code-cyan;    } /* Warning */
}
