@import "bootstrap/scss/functions";
@import "./variables";

$enable-important-utilities: false;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/images";

@import "bootstrap/scss/utilities";
$utilities: (
    "padding": map-merge(
        map-get($utilities, "padding"),
        (values: (3: map-get($spacers, 3)))
    ),
    "overflow": map-merge(
        map-get($utilities, "overflow"),
        (values: auto visible),
    ),
    "display": map-merge(
        map-get($utilities, "display"),
        (values: (inline: inline, inline-block: inline-block, block: block, flex: flex))
    ),
    "margin": map-merge(
        map-get($utilities, "margin"),
        (values: (0: map-get($spacers, 0)))
    ),
    "margin-x": map-merge(
        map-get($utilities, "margin-x"),
        (values: (auto: auto))
    ),
    "margin-y": map-merge(
        map-get($utilities, "margin-y"),
        (values: (2: map-get($spacers, 2)))
    ),
    "margin-top": map-merge(
        map-get($utilities, "margin-top"),
        (values: (0: map-get($spacers, 0)))
    ),
    "margin-bottom": map-merge(
        map-get($utilities, "margin-bottom"),
        (values: (3: map-get($spacers, 3)))
    ),
    "rounded": map-merge(
        map-get($utilities, "rounded"),
        (values: (null: $border-radius))
    ),
    "width": map-merge(
        map-get($utilities, "width"),
        (values: (80: 80%))
    ),
    "min-width": (
        property: min-width,
        class: min-w,
        values: (100: 100%),
    ),
    "border": map-merge(
        map-get($utilities, "border"),
        (values: (null: $border-width solid $border-color))
    ),
    "flex": map-get($utilities, "flex")
);
@import "bootstrap/scss/utilities/api";


/* HTML tags */
html {
    height: 100%;
}


body {
    height: inherit;
}


span {
    white-space: nowrap;
}


figcaption {
    font-size: 95%;
}


/* Link style */
a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 0.15s ease, text-decoration-color 0.15s ease;
}


/* Code block style */
div.sourceCode {
    background-color: unset;
}


/* Main container */
#root {
    height: 100vh;
    height: -webkit-fill-available;

    min-height: 100vh;
    min-height: -webkit-fill-available;
}


#root-row {
    align-content: baseline;
}


/* Sidebar style */
#sidebar-container {
    height: 100vh;
    min-height: 100vh;
    flex: 0 0 250px;

    /* Sticky for desktop */
    position: webkit sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}


.sidebar-link {
    font-size: inherit;
    font-weight: 500;
}


.sidebar-link-container {
    transition: background-color 0.15s ease;

    > a {
        @extend .d-block;
        width: 100%;
    }
}


/* Images in content */
#content {
    img, video {
        @extend .border;
        @extend .img-fluid;
        @extend .rounded;
        width: auto;
        max-height: 960px;
        object-fit: contain;
    }

    .img-fixed {
        width: unset;
    }
}


.content-media-container > p {
    @extend .m-0;

    a {
        @extend .d-inline-block;
    }

    a, img, video {
        @extend .mx-auto;
        @extend .my-2;
    }
}


/* Site navigation style */
#site-navigation {
    overflow: visible;
}


/* Blog index style */
.blog-index-group {
    @extend .mt-0;
    @extend .mb-3;
}


.blog-index-entry {
    @extend .d-flex;
}


.blog-index-entry-date {
    @extend .flex-fill;
    width: 4em;
    min-width: 4em;
    max-width: 4em;
}


/* Mobile view */
@media only screen {
    @include media-breakpoint-down(md) {
        body {
            height: unset;
        }

        #root {
            height: 100%;
        }

        #sidebar-container {
            height: unset;
            min-height: unset;
            flex: inherit;

            /* Not sticky for mobile */
            position: static;
            top: unset;
            z-index: unset;
        }

        .sidebar-link {
            font-size: 1.5rem;
        }

        .sidebar-link-nav {
            font-size: 1.125rem;
        }

        .sidebar-link-container {
            padding: 0px 3px;

            > a {
                display: inherit;
                width: inherit;
            }
        }

        #site-navigation {
            overflow: auto;
        }

    }
}


/* Large screen view */
@media only screen and (min-width: map-get($container-max-widths, "md")) {
    #content {
        max-width: map-get($container-max-widths, "md")
    }
}


/* Select style */
*:focus-visible {
    outline: none;
    border-radius: 2px;
}


/* Code style */
pre {
    /**
     * Use extend here because we can't manually add bootstrap classes to the
     * generated pandoc documents nodes.
     **/
    @extend .border;
    @extend .rounded;
    @extend .overflow-auto;
    @extend .p-3;

    font-size: 0.8rem;
}


a.sourceLine {
    @extend .d-inline-block;
    line-height: 1.25;
    pointer-events: none;
    color: inherit;
    text-decoration: inherit;

    &:empty {
        height: 1.2em;
    }
}


code.sourceCode {
    span {
        white-space: pre;
    }

    position: relative;
}


div.sourceCode {
    margin: 1em 0;
}


pre.sourceCode {
    margin: 0;
}


pre.numberSource {
    a.sourceLine {
        position: relative;
        left: -4em;

        &::before {
            content: attr(title);
            position: relative;
            left: -1em;
            text-align: right;
            vertical-align: baseline;
            pointer-events: all;
            display: inline-block;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0 4px;
            width: 4em;
        }
    }

    margin-left: 3em;
    padding-left: 4px;
}


@media screen {
    div.sourceCode {
        overflow: auto;
    }

    a.sourceLine {
        &::before {
            text-decoration: underline;
        }
    }
}


@media print {
    code.sourceCode {
        white-space: pre-wrap;
    }

    a.sourceLine {
        text-indent: -1em;
        padding-left: 1em;
    }
}
