$bg: #FFF;
$fg: #212121;

$accent: #CFD8DC;
$accent-link: #1A237E;
$accent-link-hover: #212121;
$accent-link-container-hover: #90A4AE;

$border: rgba(0, 0, 0, 0.333);
$hr: rgba(0, 0, 0, 0.1);
$link: #1A237E;
$link-hover: #212121;

$fig-caption-fg: rgba(0, 0, 0, 0.666);

/* Code colours */
$code-bg: #FFFFFF;
$code-fg: #4D4D4C;
$code-black: #FFFFFF;
$code-red: #C82829;
$code-green: #718C00;
$code-yellow: #EAB700;
$code-blue: #4271AE;
$code-purple: #8959A8;
$code-cyan: #3E999F;
$code-white: #4D4D4C;

@import "./style";
